<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{user}}
    {{products}}
    {{#each products as |p|}}
    <div class="product-detail d-flex" style="margin: 40px 0px;">
        <div class="product-image"
            style="height: 100px; width: 100px;background-image:url({{p.product.image}}); background-repeat: no-repeat; background-size: contain;">
        </div>
        <div class="product-info">
            Name: {{p.product.name}} <br>
            Price: {{p.product.price}} <br>
            Description: {{p.product.description}} <br>
            Seller: {{p.product.user_id.username}}
        </div>
    </div>
    {{/each}}
</body>

</html>