<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{#each products as |p|}}
    <div class="product-detail d-flex" style="margin: 40px 0px;">
        <div class="product-image"
            style="height: 100px; width: 100px;background-image:url({{p.image}}); background-repeat: no-repeat; background-size: contain;">
        </div>
        <div class="product-info">
            Name: {{p.name}} <br>
            Price: {{p.price}} <br>
            Description: {{p.description}}<br>
            Seller: {{p.user_id.username}}

            <div class="btn-group">
                <div class="addtocart" style="margin: 10px;">
                    <button class="addToCartBtn" id={{p._id}}>Add To Cart</button>
                </div>
                <div class="wishlist" style="margin: 10px;">
                    <button class="wishListBtn" id={{p._id}}>Wishlist</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <script>
        const addToCartBtn = document.querySelectorAll('.addToCartBtn');
        const wishListBtn = document.querySelectorAll('.wishListBtn');
        addToCartBtn.forEach((btn) => {
            btn.addEventListener('click', (e) => {
                const id = e.target.id;
                fetch(`/addtocart/${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json()).then(data => {
                    console.log(data);
                })
            })
        })

        wishListBtn.forEach((btn) => {
            btn.addEventListener('click', (e) => {
                const id = e.target.id;
                fetch(`/addtowishlist/${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json()).then(data => {
                    console.log(data);
                })
            })
        })
    </script>
</body>

</html>