<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <form class="form" action="/signin" method="POST">
            <h2>Sign Up</h2>
            <div class="inputBox">
                <input type="text" required />
                <i class="fa-regular fa-user"></i>
                <span>Username</span>
            </div>
            <div class="inputBox">
                <input type="email" required />
                <i class="fa-regular fa-user"></i>
                <span>Email Address</span>
            </div>
            <div class="inputBox">
                <input type="password" required />
                <i class="fa-solid fa-lock"></i>
                <span>Create Password</span>
            </div>
            <div class="inputBox">
                <input type="password" required />
                <i class="fa-solid fa-lock"></i>
                <span>Confirm Password</span>
            </div>
            <div class="inputBox">
                <input type="submit" value="Create Account" />
            </div>
            <p>Already a account ? <a href="/login" class="login">Login In</a></p>
        </form>
    </div>
</body>

</html>